{
	admin off
	auto_https off
}

:8080 {
	root * /srv
	encode zstd gzip
	try_files {path} {path}index.html {path}/index.html /index.html
	file_server
	import /etc/caddy/csp.caddy

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
	}
}
